<%= form_for(group) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

<ul>
    <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
    <%= f.label :group_name %>
    <%= f.text_field :group_name %>
  </div>

  <div class="field">
    <%= f.label :website_url %>
    <%= f.text_field :website_url %>
  </div>

  <div class="field">
    <%= f.label :group_email %>
    <%= f.text_field :group_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

