<h1>Groups</h1>

<ul>
    <% @groups.each do |group| %>
        <ul>
            <strong> <%= group.group_name %> </strong>
            <strong> <%= group.website_url %> </strong>
            <strong> <%= group.group_email %> </strong>
            <%= link_to "More Info", group_path(group) %>
        </ul>
    <% end %>
</ul>

<br>

    <%= link_to 'Events Page', events_path %> |
    <%= link_to 'Create Group', new_group_path %>




























<!-- <p id="notice"><%= notice %></p>

<table>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_name %></td>
        <td><%= group.website_url %></td>
        <td><%= group.group_email %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 -->
