<h1>New Group</h1>

<%= render 'form', group: @group %>


<br>

<%= link_to 'Back to Groups Page', groups_path %> |
<%= link_to 'Back to Events Page', events_path %>





<!-- <h1>Join</h1>

<%= form_for @group do |f| %>

    <div>
        <%= f.label :group_name %>
        <%= f.text_field :group_name %>
    </div>

    <div>
        <%= f.label :website_url %>
        <%= f.text_field :website_url %>
    </div>

    <div>
        <%= f.label :group_email %>
        <%= f.text_field :group_email %>
    </div>


    <%= f.submit "Add new group" %>

<% end %>

<%= link_to "Back to events.", events_path %>
 -->
