<h1>My House</h1>

<h2>Events</h2>

<ul>
    <% @events.each do |event| %>
        <ul>
            <strong> <%= event.title %> </strong>
            <strong> <%= event.description %> </strong>
            <strong> <%= event.location %> </strong>
            <strong> <%= event.contact %> </strong>
            <%= link_to "More Info", event_path(event) %>
        </ul>
    <% end %>
</ul>

<br>

<%= link_to 'Groups Page', groups_path %> |
<%= link_to 'Create Event', new_event_path %>













