<h1>My House</h1>

<h2>Events</h2>

<ul>
    <% @events.each do |event| %>
        <ul>
            <strong> <%= event.title %> </strong>
            <strong> <%= event.description %> </strong>
            <strong> <%= event.location %> </strong>
            <strong> <%= event.contact %> </strong>

            <%= link_to 'Delete Event', event_path(event), method: :delete, data: { confirm: "Are you sure?" } %>
            <% if current_user.id == event.user_id %>
            <% end %>
        </ul>
    <% end %>
</ul>

<br>

<%= link_to 'Groups Page', groups_path %> |
<%= link_to 'Create Event', new_event_path %>













